.styleNav {
    background-color: #FFFFFF;
}

.search {
    display: flex;
    width: 400px;
}

.rounded {
    border-radius: 16px;
    height: 36px;
    background: #EEEEEE;
    color: #8A8A8A;
}

.styleLogin {
    background: #F93711;
    color: white;
    ;
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
}

.styleIcon {
    position: relative;
    margin-left: -25px;
}

h3 {
    font-size: 16px;
    margin: 0px 8px;
    /* width: 32px; */
    height: 20px;
}

.profile {
    width: 38px;
    height: 38px;
}

.iconDropdown {
    width: 24px;
    height: 24px;
}

.iconNotif {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.iconMessage {
    width: 24px;
    height: 24px;
    margin-right: 18px;
}

.pagetitle {
    font-size: 16px;
}