* {
    font-size: 14px;
}

.roundedButton {
    color: white;
    border-radius: 16px;
    background: #F93711;
    border: none;
    width: 100%;
    height: 48px;
    /* margin-top: 3%; */
    margin-top: 28px;
    margin-left: 8px;
}

.roundedButtonMenu {
    color: white;
    border-radius: 16px;
    background: #F93711;
    border: none;
    width: 80%;
    height: 48px;
    /* margin-top: 3%; */
    margin-top: 28px;
    margin-left: 8px;
}

.roundedButton:hover {
    background: #F2CA59;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 5;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modalContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #FFFFFF;
    padding: 25px 38px;
    border-radius: 16px;
    max-width: 350px;
    min-width: 200px;
    z-index: 5;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.textPopup {
    color: #8A8A8A;
}

.imagePopup {
    background: #EEEEEE;
    height: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
}

.styleForm {
    border-radius: 16px;
    margin-top: 3px;
    height: 48px;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 100%;
    margin: 10px;

}

.satu {
    width: 30%;
}

.dua {
    width: 70%;
    padding: 10%;
}

.img {
    
    height: 100%;
    width: 100%;
}

.img img{
    width: 100%;
    border-radius: 12px;
}

@media screen and (max-width:1024px) {
    .styleRow {
        flex-direction: column-reverse;
    }

    .roundedButtonMenu {
        width: 70%;
        margin-top: 10px;
    }

    .p {
        width: 70%;
        margin-top: 5px;
        text-align: justify;
    }

    .carousel{
        width: 500px;
        height: 400px;
    }

    .col1{
        margin-top: -70px;
    }

}


@media screen and (max-width:756px) {
    
    .carousel {
        width: 100%;
        margin-top: 20px;
        height: 300px;
    }

    .p {
        width:95%;
        text-align: justify;
    }

    .roundedButtonMenu {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .carousel-indikators{
        background:#F93711;
    }
    
}