.container{
    margin-top: 40px;
    font-family: poppins;
    display: flex;
    flex-wrap: wrap;
}

.cardBody{
    max-width: 300px;
    min-width: 200px;
}

.styleCardText {
    font-size: 10px;
    color: #8A8A8A;
    margin: 0;
}

.cardStyle {
    max-width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.1);
}

.imgThumbnail {
    width: 100%;
    height: 100%;
    padding: 3%;
    border-radius: 15px;
    display: flex;
}

@media screen and (max-width:500px){
    .col{
        display: flex;
        justify-content: center;
    }
}