.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}


.button {
  color: #3C3C3C;
  background: #F2CA59;
  border: none;
  margin: 1%;
  padding: 1.2% 1%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
}

.filterLogo {
  height: 20px;
  width: auto;
  fill: black;
}

p {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-left: 8px;
  height: 20px;
}

.button:hover {
  background-color: #F93711;
}

img {
  color: #3C3C3C;
  stroke:#F93711;
  /* fill: red; */
}

