.container {
    background-color: #FAD56C;
    height: 100%;
    font-family: poppins;
    display: flex;
}

h1 {
    font-size: 30px;
}

.img {
    height: 100%;
    position: fixed;
}

.formContainer {
    position: absolute;
    background-color: #fff;
    width: 40%;
    height: fit-content;
    left: 50%;
    top: 50%;
    padding: 5% 5%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}

.rounded {
    border-radius: 16px;
    height: 48px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.styleButton {
    width: 100%;
    border-radius: 16px;
    height: 48px;
    margin-top: 4%;
    background: #F93711;
    border: none;
}

span {
    position: absolute;
    margin-top: 6.5%;
    margin-left: 60%;
}

.formStyle{
    width: 100%;
}

@media only screen and (max-width: 1285.6px){
    span {
        position: absolute;
        margin-top: 6.5%;
        margin-left: 60%;
    }

    .formContainer {
        position: absolute;
        background-color: #fff;
        padding: 15% 6%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
        width: 50%;
        height: 75%;
    }
}

@media only screen and (max-width: 1050px){
    span {
        position: absolute;
        margin-top: 9.5%;
        margin-left: 52%;
    }
}

@media only screen and (max-width: 955px) {
    .header {
        width: 80%;
    }
}

@media only screen and (max-width: 760px) {

    span {
        position: absolute;
        margin-top: 9.8%;
        margin-left: 50%;
    }
}

@media only screen and (max-width: 600px) {

    .formContainer {
        position: absolute;
        background-color: #fff;
        padding: 15% 6%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
        width: 80%;
        height: 68%;
    }

    span {
        position: absolute;
        margin-top: 8%;
        margin-left: 65%;
    }
}

@media only screen and (max-width: 550px){
    span {
        position: absolute;
        margin-top: 9.5%;
        margin-left: 63%;
    }
}

@media only screen and (max-width: 425px){
    span {
        position: absolute;
        margin-top: 12%;
        margin-left: 58%;
    }
}

