.previous {
    margin: 40px 0;
    background-color: transparent;
    border: none;
}

.previous:hover {
    margin: 40px 0;
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 600px) {
    .previous {
        margin: 0;
        background-color: transparent;
        border: none;
        /* display: none; */
    }
}