.login {
    font-family: poppins;
    background-color: #FAD56C;
}

.styleForm{
    position: absolute;
}

.roundedForm {
    border-radius: 16px;
    height: 48px;
}

.roundedButton {
    border-radius: 16px;
    background: #F93711;
    border: none;
    width: 100%;
    height: 48px;
    margin-top: 3%;
}

a{
    text-decoration: none;
    color: #F93711;
}

.styleShowButton{
    position: absolute;
    margin-top: 0.5%;
    margin-left: 12%;
}