.login {
    background: #FAD56C;
}

.styleCol1 {
    font-family: poppins;
    background-color: #FAD56C;
    background-image: url(./Subtract.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.roundedForm {
    border-radius: 16px;
    height: 48px;
}

.roundedButton {
    border-radius: 16px;
    background: #F93711;
    border: none;
    width: 100%;
    height: 48px;
    margin-top: 3%;
}

a {
    text-decoration: none;
    color: #F93711;

}

.iconSpan {
    position: absolute;
    margin-top: 1%;
    margin-left: 32%;
}

.styleCol {
    height: 100%;
}

.image {
    height: 100%;
}

@media only screen and (max-width: 1200px) {
    .styleCol1 {
        display: none;
    }

    img {
        display: none;
    }

    .iconSpan {
        position: absolute;
        margin-top: 3.5%;
        margin-left: 55%;
    }
    
}

